.primary{
    /* border: solid black; */
    padding: 20px;
}

.secondary{
    /* border: solid red; */
}

.hosting{
    /* border: solid orange; */
}

.reserve{
    border: solid black;
    margin: 20px;
}

.reviewNumbers {
    display: flex;
    align-items: center;
}

/* Images CSS */
.imageContainer{
    display: flex;
    /* border: solid blue; */
}

.secondary-images{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.previewImage{
    width: 400px;
    height: 500px;
    border: solid 2px black;
}

.image{
    width: 250px;
    height: 250px;
    border: solid 2px black;
}

.hosting{
    display: flex;
    justify-content: space-between;
}

/* .hostDetail{

} */

.reserve{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    height: 100px;
    width: 400px
}

.priceReview{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 50px
}

#price-per-night{
    font-size: 25px;
    font-weight: bold;
}

#price-per-night span{
    font-size: 20px;
    font-weight: bold;
}

.reserveReviews{
    display: flex;
    align-items: center;
}

.reserve button{
    height: 100px;
    width: 250px;
    background-color: rgb(245, 56, 56);
    color: white;
    box-shadow: 5px 5px 5px black;
}

.reviewDot{
    font-size: 30px;
    margin: 10px;
}
