.border {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid black;
    padding: 20px;
}
/* maybe use grid?? */

.border div{
    border: solid red;
    padding: 10px;
    margin: 20px;
}

.tooltipText{
    visibility: hidden;
    position: absolute;
}

.imageHover:hover .tooltipText{
    visibility: visible;
}
