#title{
    font-family: "Georgia", serif;
}

#create-button{
    
}

.spotsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: solid orange;
    width: 100%;
    padding: 10px;
}

.spot{
    border: solid red;
    height: 200px;
    padding: 10px;
    margin: 10px;
}
