.createContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: solid red;
}

#form-container{
    width: 500px;
}

.imageInputs{
    display: flex;
    flex-direction: column;
}

.city-state{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lat-lng{
    display: flex;
    width: 100%;
}

textarea{
    width: 350px;
    height: 100px;
}

.pricing {
    display: flex;
    align-items: center;
}

.pricing input{
    height: 15px;
}

.imageInputs input{
    margin-bottom: 5px;
    width: 200px;
}

.titleWrap{
    word-wrap: break-word;
    color: red;
}
