ul {
    list-style-type: none;
}

li{
    list-style-type: none;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 0 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

.homeContainer{
    display: flex;
    justify-content: space-between;
    width: 175px;
}

.homeLink{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
}

.homeLink h3{
    font-family: "fira-sans", sans-serif;
    color: blue;
}

.noUserProfile{
    display: flex;
    flex-direction: column;
}


.homeIcon{
    width: 50px
}

.userContainer{
    display: flex;
    margin-right: 25px;
    justify-content: space-between;
    width: 200px;
}

#new-spot-link{
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: none;
}

.profile-dropdown{
    visibility: visible;
    position: absolute;
    border: black;
    border-radius: 30px;
    background: lightgray;
}

/* No user profile button */
.noprofile-dropdown{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    visibility: visible;
    position: absolute;
    background-color: lightgrey;
    height: 50px;
}

.noUserButton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    height: 30px;
    width: 45px;
    border-radius: 35px;
}

.login-button{
    color: blue;
}

.nouserContainer{
    display: flex;
    flex-direction: column;
}

.hidden{
    visibility: hidden;
    position: absolute;
    /* background-color: red; */
}

.userButtonList{
    display: flex;
    justify-content: center;
}
