ul {
    list-style-type: none;
}

li{
    list-style-type: none;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 0 10px;
    margin-bottom: 50px;
}

.homeContainer{
    display: flex;
    justify-content: space-between;
    width: 175px;
}

.homeLink{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.homeIcon{
    width: 50px
}

.userContainer{
    display: flex;
    margin-right: 25px;
    justify-content: space-between;
    width: 200px;
}

.profile-dropdown{
    visibility: visible;
    position: absolute;
    border: black;
    border-radius: 30px;
    background: lightgray;
}

.hidden{
    visibility: hidden;
    position: absolute;
}

.userButtonList{
    display: flex;
    justify-content: center;
}
